cppcheck-result.xml
*_out.xml
staging/
bin/
*~
*.o
*.pyc
*.a
*.swp
*.so
awa_clientd
awa_serverd
awa_bootstrapd
test_*_runner
valgrind/

# CMake builds
build/
build_debug/
.build_x86/
.build_openwrt/
daemon.log

# Eclipse
.project
.cproject
.settings

# PyDev
.pydevproject
.python-version

# log files
test.log
client_low.log
client_high.log
server_low.log
server_high.log
awa_clientd.log
awa_serverd.log
awa_bootstrapd.log

lib/libcoap/Makefile
lib/libcoap/autom4te.cache/
lib/libcoap/config.h
lib/libcoap/config.log
lib/libcoap/config.status
lib/libcoap/configure
lib/libcoap/doc/Doxyfile
lib/libcoap/doc/Makefile
lib/libcoap/doc/doxygen.out
lib/libcoap/doc/html/
lib/libcoap/examples/Makefile
lib/libcoap/examples/coap-client
lib/libcoap/examples/coap-server
lib/libcoap/examples/rd
lib/libcoap/tests/Makefile

lib/gtest-1.7.0/Makefile
lib/gtest-1.7.0/build-aux/config.h
lib/gtest-1.7.0/build-aux/stamp-h1
lib/gtest-1.7.0/config.log
lib/gtest-1.7.0/config.status
lib/gtest-1.7.0/fused-src/gtest/.deps/
lib/gtest-1.7.0/lib/
lib/gtest-1.7.0/libtool
lib/gtest-1.7.0/samples/.deps/
lib/gtest-1.7.0/samples/.dirstamp
lib/gtest-1.7.0/samples/.libs/
lib/gtest-1.7.0/samples/libsamples.la
lib/gtest-1.7.0/samples/sample1.lo
lib/gtest-1.7.0/samples/sample2.lo
lib/gtest-1.7.0/samples/sample4.lo
lib/gtest-1.7.0/scripts/gtest-config
lib/gtest-1.7.0/src/.deps/
lib/gtest-1.7.0/src/.dirstamp
lib/gtest-1.7.0/src/gtest-all.lo
lib/gtest-1.7.0/src/gtest_main.lo
lib/gtest-1.7.0/test/.deps/
lib/gtest-1.7.0/autom4te.cache/

contiki/lib
contiki/contiki
contiki/lwm2m-client-contiki/contiki-minimal-net.*
contiki/lwm2m-client-contiki/obj_minimal-net
contiki/lwm2m-client-contiki/obj_mikro-e
contiki/lwm2m-client-contiki/symbols.*
contiki/lwm2m-client-contiki/lwm2m-client-contiki.minimal-net
contiki/lwm2m-client-contiki/*.mikro-e
contiki/lwm2m-client-contiki/*.map
contiki/lwm2m-client-contiki/*.hex
