cppcheck-result.xml
*_out.xml
staging/
bin/
*~
*.o
*.pyc
*.a
*.swp
*.so
awa_clientd
awa_serverd
awa_bootstrapd
test_*_runner
valgrind/

# CMake builds
build/
build_debug/
.build_x86/
.build_openwrt/

# Eclipse
.project
.cproject
.settings

# PyDev
.pydevproject
.python-version

# log files
daemon.log
awa_clientd.log
awa_serverd.log
awa_bootstrapd.log
