[Unit]
Description=Awa Bootstrap Server Daemon
After=network.target

[Service]
User=nobody
Group=nogroup
Type=simple
ExecStart=/usr/bin/awa_bootstrapd \
    --logFile /var/log/awa/awa_bootstrapd.log \
	--config /etc/awa/awa_serverd.bsc \
	--port 15685
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

